---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404 - Eagle Tools">
    <section class="w-full h-full flex flex-col text-center justify-center m-auto">
        <h1 class="text-center text-6xl font-bold ">Error 404</h1>
        <p class="text-grey mt-10">Page not found</p>
    </section>
</Layout>