---

---

    <main class="w-full h-full m-0 p-0 overflow-hidden">
        <div class="gradient-bg"></div>

    <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
        <defs>
            <filter id="ffflux-filter" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feTurbulence type="fractalNoise" baseFrequency="0.005 0.003" numOctaves="2" seed="2" stitchTiles="stitch" x="0%" y="0%" width="100%" height="100%" result="turbulence"></feTurbulence>
                <feGaussianBlur stdDeviation="20 0" x="0%" y="0%" width="100%" height="100%" in="turbulence" edgeMode="duplicate" result="blur"></feGaussianBlur>
                <feBlend mode="soft-light" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" in2="blur" result="blend"></feBlend>
            </filter>
        </defs>
    </svg>
    </main>

    <style>
        .gradient-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: linear-gradient(150deg, hsl(315, 100%, 72%), hsl(227, 100%, 50%));
            filter: url(#ffflux-filter);
        }
    </style>
