---
import SideBar from '../components/SideBar.astro';
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro';
import { Paginas } from '../data/Pags'
---

<Layout title="Eagle Tools">
	<main class="flex flex-row">
		<aside>
			<SideBar />
		</aside>
		<div class="grid grid-flow-row xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-9
			mx-auto
			my-20
		">
			{Paginas.map (Paginas => (
				<Cards
				nombre = {Paginas.nombre}
				categoria = {Paginas.categoria}
				imagen = {Paginas.imagen} 
				url = {Paginas.url}
				/>
			))}
		</div>

	</main>
</Layout>
