---
import CardsPresentacion from '../components/CardsPresentacion.astro';
import Layout from '../layouts/LayoutIndex.astro';


---
<Layout title="Eagle Tools">
	<section class="flex flex-col max-w-lg justify-center items-center m-auto my-20">
		<img class="w-64" src="eagle-tools-logo-1.png" alt="Logotipo Eagle Tools">
		<h1 class=" text-5xl font-black py-2 text-white">Eagle Tools</h1>
	</section>
	<CardsPresentacion />
</Layout>
