---
export interface props{
    nombre: string;
    categoria: string;
    imagen: string;
    url : string
}
const {nombre, categoria, imagen, url } = Astro.props
---
 
<div class="flex justify-between rounded-xl max-h-60 max-w-80 min-w-70 border-2 text-center" >
    <a href={url} class="" >
        <img src={imagen} alt={nombre} class="rounded-lg" />
        <h1 class="text-2xl mt-3">{nombre}</h1>
    </a>
</div>


