---
---

    <div class="flex flex-col w-96 px-2 rounded-r-3xl overflow-hidden md:w-56 lg:w-56 xl:w-56 md:px-0 lg:px-0 xl:px-0">
      <div class="flex items-center justify-center h-20 ">
        <a href="/"><img class="w-44" src="./eagle-logo2.png" alt="" ></a>
      </div>
      <ul class="grid grid-cols-2 px- py-4 gap-4 lg:flex lg:flex-col md:flex md:flex-col xl:flex xl:flex-col xl:px-6 xl:py-4">
        <li>
            <a href="/tools" class="bg-secundary rounded-lg  flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 #eae9fc hover:text-gray-400">
              <span class="inline-flex items-center justify-center h-12 w-12 text-lg "><i class="bx bxs-cog bx-tada"></i></span>
              <span class="text-sm font-medium">Tools</span>
            </a>
          </li>
          <li>
            <a href="/icons" class="bg-secundary rounded-lg  flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 #eae9fc hover:text-gray-400">
              <span class="inline-flex items-center justify-center h-12 w-12 text-lg "><i class="bx bxs-location-plus bx-tada"></i></span>
              <span class="text-sm font-medium">Icons</span>
            </a>
          </li>
          <li>
            <a href="/background" class="bg-secundary rounded-lg  flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 #eae9fc hover:text-gray-400">
              <span class="inline-flex items-center justify-center h-12 w-12 text-lg "><i class="bx bxs-ghost bx-tada"></i></span>
              <span class="text-sm font-medium">Backgraund</span>
            </a>
          </li>
          <li>
            <a href="/colors" class="bg-secundary rounded-lg  flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 #eae9fc hover:text-gray-400">
              <span class="inline-flex items-center justify-center h-12 w-12 text-lg "><i class="bx bxs-palette bx-tada"></i></span>
              <span class="text-sm font-medium">Colors</span>
            </a>
          </li>
          <li>
            <a href="/typografy" class="bg-secundary rounded-lg  flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 #eae9fc hover:text-gray-400">
              <span class="inline-flex items-center justify-center h-12 w-12 text-lg "><i class="bx bx-home"></i></span>
              <span class="text-sm font-medium">Typografy</span>
            </a>
          </li>
          <li>
            <a href="/illustrations" class="bg-secundary rounded-lg  flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 #eae9fc hover:text-gray-400">
              <span class="inline-flex items-center justify-center h-12 w-12 text-lg "><i class="bx bxs-image-alt bx-tada"></i></span>
              <span class="text-sm font-medium">Illustrations</span>
            </a>
          </li>
          <li>
            <a href="/imagen" class="bg-secundary rounded-lg  flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 #eae9fc hover:text-gray-400">
              <span class="inline-flex items-center justify-center h-12 w-12 text-lg "><i class="bx bx-home"></i></span>
              <span class="text-sm font-medium">Imagen</span>
            </a>
          </li>
          <li>
            <a href="/" class="bg-secundary rounded-lg  flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 #eae9fc hover:text-gray-400">
              <span class="inline-flex items-center justify-center h-12 w-12 text-lg "><i class="bx bx-home"></i></span>
              <span class="text-sm font-medium">Extra</span>
            </a>
          </li>

    </ul>
    </div>
